# Секреты и конфиденциальные данные
.env

# Локальные файлы базы данных
*.sqlite3

# Папки со скомпилированными файлами и кэшем
__pycache__/
*.py[cod]
*$py.class

# Статические и медиа файлы
static/
media/

# Логи и временные файлы
*.log
*.pot
*.pyc
.DS_Store